{% extends 'base.html' %}
{% load static %}
{% load results %}
{% load i18n %}
{% block main_content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="list-inline clear-margin-bottom">
      <h4><a href="{{org_list.url}}" data-toggle="tooltip" data-placement="top" title="{{org_list.url}}">{{org_list.name.en}} ({{org_list.code}})</a></h4>
    </ul>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">

    <dt>Description</dt>
    <dd>{{org_list.description.en|urlize|linebreaks}}

    <dt>To find identifiers:</dt>
    <dd>{% if org_list.access.publicDatabase %} Visit <a href="{{org_list.access.publicDatabase}}" target="_blank">{{org_list.access.publicDatabase}}</a> {% else %} {% if org_list.url %} Visit <a href="{{org_list.url}}" target="_blank">{{org_list.url}}</a> {% else %} Consult the organiastion responsible for this list {%endif %}  {% endif %} {%if org_list.access.guidanceOnLocatingIds %}{{  org_list.access.guidanceOnLocatingIds|urlize|linebreaks }}{% endif %}</dd>


    <!--This is really ugly layout code and needs fixing up with the right bootstrap classes etc.!-->
    <div style="margin-left:180px; margin-top:10px">
    <span>
    The code for this list is <code>{{org_list.code}}</code>. 
    </span>

    <!--In my ideal world, there would be a little box here to paste in the identifier you had found, and then what would automatically update the two examples below replacing [ IDENTIFIER ]...-->

    <span>
    When you can located the organisation you wish to identify in this list, you should either:
    <br>
    <br>
      <div style="width:45%; padding:2%; float:left">
       Enter it in an identifier database field prefixed with <code>{{org_list.code}}</code>.
       <br>
       <br>
       For example: <code>{{org_list.code}}</code>-[ IDENTIFIER ]
      </div>

      <div style="width:45%; padding:2%; float:left">
       Or, use it within a two-part identifier, with <code>{{org_list.code}}</code> as the 'scheme', and the identifier you have located as the 'identifier' field. 
       <br>
       <br>
       For example:
<pre class="prettyprint">
{ 
   "scheme":”{{org_list.code}}”,
   ”id”:"[ IDENTIFIER ]"
}</pre>
      </div>
      <br clear="all">
    Remember, if your data model also includes space to record the legal name or address of the organisation, and the list provides this information, this can aid data re-use. 
    </span>
    </div>
    <br clear="all">
    <hr>
    <h3>List details</h3>
       <dt>URL</dt>
        <dd>
          <a href="{{org_list.url}}">{{org_list.url}}</a>
        </dd>
      {% for key, value in org_list|tidy_results:'long' %}
        {% if key != "Description" and key != "Data access" %}
         {% if value %}
           <dt> {{key|capfirst}} </dt>
           <dd> 
             {% if value|slice:":4" == "http" %}
               {{value|urlize}}
             {% else %}
               {{value|capfirst|urlize}}
             {% endif %}
           </dd>
         {% endif %}
        {% endif %}
      {% endfor %}
     
    </dl>

    <hr>
    <h4>Suggest changes</h4>
    
    <span>
    You can suggest an edit to our information about this list by:
    <br><br>
    <ul>
    <li>Posting <a href="https://github.com/OpenDataServices/org-ids/issues/new?title=Updates%20to%20{{org_list.code}}">to the issue tracker</a></li>
    <li>Submitting a pull request <a href='https://github.com/OpenDataServices/org-ids/tree/master/codes/{{org_list.code|slice:":2"|lower}}/{{org_list.code|lower}}.json'>against this code</a> with your direct updates and an explanation of your changes</li>
    </ul>

    Coming soon: user-friendly editing interfaces...
    </span>


  </div>
</div>
{% endblock %}
